In [5]:
tup = (1,2,3,4,5)

for item in tup:
    print (item)

1
2
3
4
5

In [6]:
   #tuple unpacking

In [7]:
l = [(2,4),(6,8),(10,12)]

In [10]:
l[2][0]

10

In [12]:
for tup in l:
    print (tup)

(2, 4)
(6, 8)
(10, 12)

In [14]:
for (t1,t2) in l:
    print(t1+t2)

6
14
22

In [15]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [16]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [17]:
for item in d:
    print(item)

k1
k2
k3

In [19]:
for k,v, in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [21]:
x = 0

while x < 10:
    print('x is currently %s', x)
    x += 1

x is currently %s 0
x is currently %s 1
x is currently %s 2
x is currently %s 3
x is currently %s 4
x is currently %s 5
x is currently %s 6
x is currently %s 7
x is currently %s 8
x is currently %s 9

In [22]:
x = 0

while x < 10:
    print('x is currently %s', x)
    x += 1
else:
    print("All Done!")

x is currently %s 0
x is currently %s 1
x is currently %s 2
x is currently %s 3
x is currently %s 4
x is currently %s 5
x is currently %s 6
x is currently %s 7
x is currently %s 8
x is currently %s 9
All Done!

In [ ]:
# Break Continue Pass

In [26]:
x = 0

while x < 10:
    print('x is currently %s', x)
    print (' x is still less than 10, adding 1 to x')
    x+=1
    if x == 3:
        print ('x==3')
        break
    else:
        print ('continuing...')
        continue
else:
    print("All Done!")

x is currently %s 0
 x is still less than 10, adding 1 to x
continuing...
x is currently %s 1
 x is still less than 10, adding 1 to x
continuing...
x is currently %s 2
 x is still less than 10, adding 1 to x
x==3

In [27]:
#range()

In [34]:
x = range(10)

In [35]:
x

range(0, 10)

In [36]:
type(x)

range

In [38]:
start = 0
stop = 20

x = range(start, stop, 2)

In [39]:
list(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
l = [1,2,3,4,5]

In [42]:
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [45]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [ ]:
# Comprehensions

In [46]:
lst = [x for x in 'word']

In [47]:
lst

['w', 'o', 'r', 'd']

In [48]:
l = []

for letter in 'word':
    l.append(letter)
    
print(l)

['w', 'o', 'r', 'd']

In [49]:
lst

['w', 'o', 'r', 'd']

In [51]:
l2 = [letter for letter in 'word']

l2

['w', 'o', 'r', 'd']

In [52]:
lst2 = [x**2 for x in range(0,11)]

lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
lst3 = [num for num in range(11) if num % 2 == 0]

lst3

[0, 2, 4, 6, 8, 10]

In [55]:
lst4 = []

for num in range(11):
    if num %2 ==0:
        lst4.append(num)
        
lst4

[0, 2, 4, 6, 8, 10]